/* FarmerProfile.css */

.farmer-profile {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.farmer-profile h1 {
  text-align: center;
  font-size: 2rem;
  color: #008037;
  margin-bottom: 20px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-details label {
  font-size: 1rem;
  color: #333;
  font-weight: bold;
}

.profile-details p {
  font-size: 1rem;
  color: #555;
  margin: 0;
}

.profile-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 10px;
}